@mixin clearfix {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin innerbox($marginLeftRight:0, $paddingLeftRight:0) {
    max-width: container();
    @include box-sizing(border-box);
    margin: 0 auto;
    @if $marginLeftRight==1 {
        $marginLeftRight: gutter(24);

        margin-left: $marginLeftRight;
        margin-right: $marginLeftRight;
    }
    @if $paddingLeftRight==1 {
        $paddingLeftRight: gutter(24);
        padding-left: $paddingLeftRight;
        padding-right: $paddingLeftRight;
    }
}
@mixin outerbox($paddingLeftRight:0){
    max-width: 1250px;
    margin: 0 auto;      
    @if $paddingLeftRight==1 {
        $paddingLeftRight: gutter(24);
        padding-left: $paddingLeftRight;
        padding-right: $paddingLeftRight;
    }  
}

@mixin img_res {
    display: block;
    width: 100%;
    height: auto;
}

@mixin color_btn($color:$blue_btn, $textColor:#fff) {
    display: inline-block;
    padding: 7px 10px;
    border: none;
    border-color: $color;
    border-radius: 4px;
    background-color: $color;
    color: $textColor;
    // font-weight: bold;	
    @include box-shadow(0px 1px 1px 0px #B9E0EF);
    @include single-transition(all, 0.2s, ease-out, 0s);
    &:hover {
        background-color: darken($color, 5%);
        border-color: darken($color, 5%);
        color: $textColor;
        text-decoration: none;
    }
    .fa {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

@mixin boxshadow{
    @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
}
